services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: workout_user
      POSTGRES_PASSWORD: workout_pass
      POSTGRES_DB: workout_db
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    restart: always
