bcrypt == 4.0.1
fastapi==0.129.0
httpx==0.28.1
passlib==1.7.4
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic-settings==2.13.0
pytest==9.0.2
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.22
SQLAlchemy==2.0.46
uvicorn==0.41.0